<tr>
    <td>
        <span data-action="click->action#click">
            <%= check_box_tag "[factures_id][#{facture.id}]", 'yes', false,  data: {"action-target":"source"} %>
        </span>
    </td>
    <td class="text-right"><%= link_to facture.num_chrono, facture %></td>
    <td>
        <span class="badge <%= facture.style %>"><%= facture.workflow_state.humanize %></span>    
    </td>
    <td><%= facture.anomalie.humanize.capitalize %></td>
    <td><%= facture.société %></td>
    <td class="text-right"><%= number_to_currency(facture.montantHT, unit: '€', precision: 2, format: '%n %u') %></td>
    <td><%= facture.les_cibles %></td>
    <td><%= facture.par %></td>
    <td>Il y a <%= time_ago_in_words(facture.updated_at) %></td>
    <td>
        <%= link_to edit_facture_path(facture), class: "btn btn-sm btn-outline-light text-dark" do %>
           <i class="far fa-edit"></i>
        <% end %>
    </td> 
    <% if current_user.admin? %>
        <td>
            <%= link_to facture, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-light text-dark" do %>
                <i class="far fa-trash-alt"></i>
            <% end %>
        </td>
    <% end %>
</tr>

