<tr>
    <td><%= link_to facture.num_chrono, facture %></td>
    <td>
        <span class="badge badge-pill <%= facture.style %>"><%= facture.etat.humanize %></span>    
    </td>
    <td><%= facture.anomalie.humanize %></td>
    <td><%= facture.société %></td>
    <td><%= facture.cible %></td>
    <td><%= facture.par %></td>
    <td><%= time_ago_in_words(facture.updated_at) %></td>
    <td><%= link_to 'Voir', facture %></td>
    <td><%= link_to 'Editer', edit_facture_path(facture) %></td>
    <td><%= link_to 'Détruire', facture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>

