<%= bulma_form_with(model: facture, local: true) do |form| %>
  
  <div class="columns">
    <div class="column is-one-half">

      <div class="columns">
        <div class="column">
          <%= form.number_field :num_chrono, required: true %>
        </div>
        <div class="column">
          <%= form.select :typefacture, options_for_select(Facture.typefactures.keys.to_a), label: 'Type Facture' %>
        </div>
      </div>

      <%= form.text_field :société, required: true %>

      <div class="columns">
        <div class="column">
          <%= form.number_field :montantHT, step: :any, label: "Montant € HT" %>
        </div>
        <div class="column">
          <%= form.text_field :po, label: 'PO' %>
        </div>
      </div>

      <%= form.label "Image de la facture", class: "" %><br>
      <%= form.file_field :scan, required: true, class: "input", accept: ".pdf, .png, .jpg" %>
      <br><br>
      <%= form.text_area :commentaires %>

      <div class="actions">
        <%= form.submit "Enregistrer", class: "button is-primary" %>
      </div>
    </div>
    
    <div class="column">
      <h4 class="title is-4">Destinataires</h4>

      <%= form.fields_for :cibles do | cible | %>
        <%= cible.email_field :email %>
      <% end %>
    </div>

  </div>

<% end %>