<%= bootstrap_form_with(model: facture, local: true) do |form| %>
  <% if facture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(facture.errors.count, "error") %> prohibited this facture from being saved:</h2>

      <ul>
        <% facture.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-sm-5">
    <%= form.file_field :scan, required: true %>

    <% unless facture.new_record? %>
      <%= form.select(:etat, Facture.etats.keys.to_a, class: "form-control") %>
    <% end %>
    <%= form.select(:anomalie, Facture.anomalies.keys.to_a, class: "form-control") %>
    <%= form.number_field :num_chrono %>
    <%= form.text_field :société %>
    <%= form.text_field :cible %>

    <% unless facture.new_record? %>
      <%= form.text_field :par %>
    <% end %>

    <div class="actions">
      <%= form.submit "Enregistrer", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
