<p id="notice"><%= notice %></p>

<h1>Factures</h1>

<table>
  <thead>
    <tr>
      <th>Etat</th>
      <th>Anomalie</th>
      <th>Num chrono</th>
      <th>Par</th>
      <th>Société</th>
      <th>Cible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @factures.each do |facture| %>
      <tr>
        <td><%= facture.etat %></td>
        <td><%= facture.anomalie %></td>
        <td><%= facture.num_chrono %></td>
        <td><%= facture.par %></td>
        <td><%= facture.société %></td>
        <td><%= facture.cible %></td>
        <td><%= link_to 'Show', facture %></td>
        <td><%= link_to 'Edit', edit_facture_path(facture) %></td>
        <td><%= link_to 'Destroy', facture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facture', new_facture_path %>
