<p id="notice"><%= notice %></p>

<h1>Factures</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Etat</th>
      <th>Anomalie</th>
      <th>Num_Chrono</th>
      <th>Société</th>
      <th>Cible</th>
      <th>Par</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @factures.each do |facture| %>
      <tr>
        <td><%= facture.etat.humanize %></td>
        <td><%= facture.anomalie.humanize %></td>
        <td><%= link_to facture.num_chrono, facture %></td>
        <td><%= facture.société %></td>
        <td><%= facture.cible %></td>
        <td><%= facture.par %></td>
        <td><%= link_to 'Voir', facture %></td>
        <td><%= link_to 'Editer', edit_facture_path(facture) %></td>
        <td><%= link_to 'Détruire', facture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter Facture', new_facture_path %>
