<h1 class="title">Factures</h1>

<%= form_tag factures_path, method: :get do %>
  <%= render "partials/search" %>
<% end %>

<% if @factures.any? %>
  <div data-controller="action">
    <%= form_tag action_factures_path do %>
      <table class="table is-striped is-hoverable is-bordered is-fullwidth">
        <thead>
          <tr>
            <th></th>
            <th>Chrono</th>
            <th>Etat</th>
            <th>Anomalie facture</th>
            <th>Société</th>
            <th>Montant € HT</th>
            <th>Destinataires</th>
            <th>PAR</th>
            <th>Dernière MàJ</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tfoot>
          <tr>
            <th />
            <th colspan=4>Sous-total page</th>
            <th class="text-right"><%= number_to_currency(@sub_total, unit: '€', precision: 2, format: '%n %u') %>
            <th colspan=3></th>
            <th /><th />
          </tr>
          <tr>
            <th></th>
            <th colspan=4>Total</th>
            <th class="text-right"><%= number_to_currency(@total, unit: '€', precision: 2, format: '%n %u') %>
            <th colspan=3></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>

        <tbody>
          <%= render @factures %>
        </tbody>
      </table>

      <%= select_tag :action_name, options_for_select(["Relancer","Passer à l'état 'imputée'"]), 
                      include_blank: true, 
                      onchange: 'this.form.submit()', 
                      class: "select",
                      data: {"action-target": "selector"} %>

      <%= page_entries_info @factures, model: Facture %>
      <%= will_paginate @factures %>
    <% end %>
  </div>
<% else %>
  <p>
    <em>Aucun résultat à afficher...</em>
  </p>
<% end %>

