<div class="pb-2 mt-4 mb-2 border-bottom">
  <div class="btn-group float-right">
    <%= link_to new_facture_path, class: 'btn btn-light' do %>
      <i class="fas fa-plus-circle"></i>
      Facture
    <% end %>
  </div>

  <h1><i class="fas fa-file-invoice"></i> Factures</h1>
</div>

<div class='container-fluid'>
  <%= form_tag request.path, method: :get do %>
    <div class="form-group">
      <div class="row">
      
        <div class="col-sm-3">
          <%= label_tag :search, "Rechercher" %>    
          <%= text_field_tag :search, params[:search], include_blank:true, onchange:'this.form.submit()', class:"form-control" %>
        </div>
        
        <div class="col-sm-2">
          <%= label_tag :etat %>
          <%= select_tag :etat, options_for_select(Facture.etats, 
                params[:etat]), include_blank: true,
                class: "form-control", onchange: 'this.form.submit()' %>
        </div>

        <div class="col-sm-3">
          <%= label_tag :anomalie %>
          <div class="input-group">
            <%= select_tag :anomalie, options_for_select(Facture.anomalies, 
                  params[:anomalie]), include_blank: true,
                  class:"form-control", onchange:'this.form.submit()' %>
            <span class="input-group-btn">
              <%= submit_tag 'Filtrer', class:"btn btn-success" %>
            </span>
          </div>
        </div>

      </div>
    </div>  
  <% end %>
</div>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Num_Chrono</th>
      <th>Etat</th>
      <th>Anomalie</th>
      <th>Société</th>
      <th>Cible</th>
      <th>PAR</th>
      <th>MàJ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @factures %>
  </tbody>
</table>
