<h2 class="title is-2">Facture #<%= @facture.num_chrono %></h2>
<div class="columns">

  <div class="column">
    <figure class="image is-4by5">
      <%= link_to url_for(@facture.scan), title: "Cliquez ici pour voir le document original" do %>
        <%= image_tag @facture.scan %>
      <% end %>
    </figure>
  </div>

  <div class="column">
    <p>
      <% if current_user %>
        <span class="tag is-medium <%= @facture.style %>">
          <%= @facture.workflow_state.humanize %>
        </span>
      <% end %>
    </p>
    <br>

    <p>
      <strong>Anomalie:</strong>
      <%= @facture.anomalie.humanize.capitalize %>
    </p>

    <p>
      <strong>Société:</strong>
      <%= @facture.société %>
    </p>

    <p>
      <strong>PAR:</strong>
      <%= @facture.par %>
    </p>

    <p>
      <strong>Montant HT:</strong>
      <%= number_to_currency(@facture.montantHT, unit: '€', precision: 2, format: '%n %u') %>
    </p>

    <p>
      <strong>Commentaires:</strong>
      <%= @facture.commentaires %>
    </p>

    <% if current_user %>
      <p>
        <%= link_to edit_facture_path(@facture), class: "button is-small is-light" do %>
          <i class="far fa-edit"></i> Editer 
        <% end %>
      </p>

      <% if @facture.imputée? %>
        <p>          
          <%= link_to facture_url(@facture, format: :pdf), title: "Afficher la facture en PDF", class: "btn btn-sm btn-outline-danger"  do %>
              <i class="far fa-file-pdf"></i> Preuve PDF
          <% end %>
        </p>
      <% end %>

      <% if @facture.validable? && request.domain == "localhost" %>
        <p>
          <br />
          <% @facture.cibles.each do |c| %>
            <%= link_to "Test Validation #{c.id}", facture_path(@facture, cible_slug: c.slug) %>
            <br />
          <% end %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="column is-half">
    <% unless (@facture.validable? && params[:cible_slug]) %>
      <h4 class="title is-4">Destinataires</h4>
      <table class="table is-fullwidth is-narrow is-hoverable">
        <thead>
          <th>Nom</th>
          <th>Action</th>
          <th>Commentaires</th>
          <th>Il y a</th>
        </thead>
        <%= render @facture.cibles %>
      </table>
    <% else %>
      <%= form_tag facture_validation_path(@facture), method: :post do %>
        <h4>Approbation</h4>
        <%= hidden_field_tag :cible_slug, params[:cible_slug] %>
        
        <strong><%= label_tag "Signataire" %></strong>
        <%= Cible.find_by(slug: params[:cible_slug]).email %>
        <br><br>

        <strong><%= label_tag "Commentaires" %></strong>
        <%= text_area_tag :commentaires, nil, rows: 4, cols: 50 %>
        <%= submit_tag "Valider", class: "btn btn-sm btn-success" %>
        <%= submit_tag "Rejeter", class: "btn btn-sm btn-danger" %>
      <% end %>
    <% end %>
  </div>
  
</div>

<% if current_user.try(:admin?) %>
  <br>
  <h4 class="title is-4">Historique des modifications</h4>
    <table class="table is-striped is-fullwidth is-hoverable">
      <tbody>
        <%= render partial: 'tools/audit', 
                    collection: @facture
                                    .own_and_associated_audits
                                    .includes(:user)
                                    .reorder(Arel.sql("audits.id DESC")) %>
      </tbody>
    </table>
<% end %>


<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Facture #<%= @facture.num_chrono %></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= image_tag(@facture.scan) %>
      </div>
    </div>
  </div>
</div>