<p>
  <h2>
    #<%= @facture.num_chrono %>
  </h2>
</p>

<div class="row">
  <div class="col">
    <p>
      <% if @facture.scan.previewable? %>
        <%= link_to(image_tag(@facture.scan.preview(resize: "400x350>")), "#", { 'data-toggle': "modal", 'data-target': "#myModal"}) %>
      <% end %>
    </p>
  </div>
  <div class="col">
    <p>
      <strong>Etat:</strong>
      <span class="badge badge-pill <%= @facture.style %>"><%= @facture.etat.humanize %></span>    
    </p>

    <p>
      <strong>Anomalie:</strong>
      <%= @facture.anomalie.humanize %>
    </p>

    <p>
      <strong>Société:</strong>
      <%= @facture.société %>
    </p>

    <p>
      <strong>PAR:</strong>
      <%= @facture.par %>
    </p>

    <p>
      <strong>Montant € HT:</strong>
      <%= @facture.montantHT %>
    </p>

    <%= link_to 'Editer', edit_facture_path(@facture) %> |
    <%= link_to 'Retour', factures_path %>

    <p>
      <% if @facture.envoyée? %>
        <br />
        <% @facture.cibles.each do |c| %>
          <%= link_to "Test Validation #{c.id}", facture_validation_path(@facture, email: c.email) %>
          <br />
        <% end %>
      <% end %>
    </p>

  </div>
  <div class="col">
    <p>
      <strong>Cible:</strong>
      <%= @facture.les_cibles %>
    </p>
  </div>
</div>

<br />
<br />

<h3>Audit trail</h3>
<p>
  <table class="table">
    <%= render  partial: 'tools/audit', 
                collection: @facture.own_and_associated_audits.reorder(Arel.sql("audits.id DESC")) %>
  </table>
</p>



<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <%# <div class="modal-header">
        <h4 class="modal-title">#<%= @facture.num_chrono %></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div> %>

      <!-- Modal body -->
      <div class="modal-body">
        <%= image_tag(@facture.scan.preview(resize: "800x700>")) %>
      </div>

      <%# <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div> %>

    </div>
  </div>
</div>