<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @facture.scan, width: "500px" %>
</p>

<p>
  <strong>Etat:</strong>
  <%= @facture.etat.humanize %>
</p>

<p>
  <strong>Anomalie:</strong>
  <%= @facture.anomalie.humanize %>
</p>

<p>
  <strong>Num chrono:</strong>
  <%= @facture.num_chrono %>
</p>

<p>
  <strong>Société:</strong>
  <%= @facture.société %>
</p>

<p>
  <strong>Cible:</strong>
  <%= @facture.cible %>
</p>

<p>
  <strong>Par:</strong>
  <%= @facture.par %>
</p>

<%= link_to 'Editer', edit_facture_path(@facture) %> |
<%= link_to 'Retour', factures_path %>
