<p>
  <h2>
    #<%= @facture.num_chrono %>
  </h2>
</p>

<div class="row">
  <div class="col">
    <p>
      <% if @facture.scan.previewable? %>
        <%= link_to image_tag(@pdf_preview, size: "300x400"), "#", { 'data-toggle': "modal", 'data-target': "#myModal"} %>
      <% end %>
    </p>
  </div>
  
  <div class="col">
    <p>
      <strong>Etat:</strong>
      <span class="badge badge-pill <%= @facture.style %>"><%= @facture.etat.humanize %></span>    
    </p>

    <p>
      <strong>Anomalie:</strong>
      <%= @facture.anomalie.humanize %>
    </p>

    <p>
      <strong>Société:</strong>
      <%= @facture.société %>
    </p>

    <p>
      <strong>PAR:</strong>
      <%= @facture.par %>
    </p>

    <p>
      <strong>Montant € HT:</strong>
      <%= @facture.montantHT %>
    </p>

    <p>
      <strong>Commentaires:</strong>
      <%= @facture.commentaires %>
    </p>
    <br>

    <%= link_to 'Editer', edit_facture_path(@facture) %> |
    <%= link_to facture_url(@facture, format: :pdf), title: "Afficher la facture en PDF" do %>
        <i class="far fa-file-pdf"></i>
    <% end %> |
    <%= link_to 'Retour', factures_path %>

    <p>
      <% if @facture.envoyée? %>
        <br />
        <% @facture.cibles.each do |c| %>
          <%= link_to "Test Validation #{c.id}", facture_validation_path(@facture, email: c.email) %>
          <br />
        <% end %>
      <% end %>
    </p>
  </div>

  <div class="col-sm-5">
    <p>
      <strong>Cibles</strong>
      <br>
      <table class="table table-hover">
        <%= render @facture.cibles %>
      </table>
    </p>
  </div>
</div>

<br />
<br />

<h3>Audit trail</h3>
<p>
  <table class="table table-hover">
    <%= render  partial: 'tools/audit', 
                collection: @facture
                                .own_and_associated_audits
                                .includes(:user)
                                .reorder(Arel.sql("audits.id DESC")) %>
  </table>
</p>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= image_tag @pdf_preview %>
      </div>
    </div>
  </div>
</div>