<p>
  <h2>
    #<%= @facture.num_chrono %>
  </h2>
</p>

<div class="row">
  <div class="col">
    <p>
      <% if @facture.scan.previewable? %>
        <%= link_to(image_tag(@facture.scan.preview(resize: "400x350>")), "#", { 'data-toggle': "modal", 'data-target': "#myModal"}) %>
      <% end %>
    </p>
  </div>

  <div class="col">
    <p>
      <strong>Etat:</strong>
      <span class="badge badge-pill <%= @facture.style %>"><%= @facture.etat.humanize %></span>    
    </p>

    <p>
      <strong>Anomalie:</strong>
      <%= @facture.anomalie.humanize %>
    </p>

    <p>
      <strong>Société:</strong>
      <%= @facture.société %>
    </p>

    <p>
      <strong>PAR:</strong>
      <%= @facture.par %>
    </p>

    <p>
      <strong>Montant € HT:</strong>
      <%= @facture.montantHT %>
    </p>
  </div>

  <div class="col-sm-5">
    <h4>Cibles</h4>
    <br>
    <table class="table">
      <%= render @facture.cibles %>
    </table>

    <p>
      <% if @facture.envoyée? %>
        <%= form_tag request.path do %>
          <%= hidden_field_tag :email, params[:email] %>
          
          <h4>Approbation</h4>
          <strong><%= label_tag "De" %></strong>
          <%= params[:email] %>

          <strong><%= label_tag "Commentaires" %></strong>
          <%= text_area_tag :commentaires %>
          <br>

          <%= submit_tag "Validée", class: "btn btn-success" %>
          <%= submit_tag "Rejetée", class: "btn btn-danger" %>
        <% end %>
      <% end %>
    </p>


  </div>

</div>

<br />
<br />

<h3>Audit trail</h3>
<p>
  <table class="table">
    <%= render partial: 'tools/audit', 
              collection: @facture.own_and_associated_audits.reorder(Arel.sql("audits.id DESC")) %>
  </table>
</p>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= image_tag(@facture.scan.preview(resize: "800x700>")) %>
      </div>
    </div>
  </div>
</div>