<p>
  <h2>
    #<%= @facture.num_chrono %>
  </h2>
</p>

<div class="row">
  <div class="col">
    <p>
      <%= image_tag @facture.scan, width: "500px" %>
    </p>
  </div>
  <div class="col">
    <p>
      <strong>Etat:</strong>
      <%= @facture.etat.humanize %>
    </p>

    <p>
      <strong>Anomalie:</strong>
      <%= @facture.anomalie.humanize %>
    </p>

    <p>
      <strong>Société:</strong>
      <%= @facture.société %>
    </p>

    <p>
      <strong>Cible:</strong>
      <%= @facture.cible %>
    </p>

    <p>
      <strong>PAR:</strong>
      <%= @facture.par %>
    </p>

    <p>
      <strong>Montant € HT:</strong>
      <%= @facture.montantHT %>
    </p>

    <p>
        <% if @facture.etat == "envoyée" %>
            <%= form_tag request.path do %>
                <%= label_tag "Commentaires" %>
                <%= text_area_tag :commentaires %>
                <br>

                <%= submit_tag "Valider", class: "btn btn-success" %>
                <%= submit_tag "Rejeter", class: "btn btn-danger" %>
            <% end %>
        <% end %>
    </p>

  </div>
</div>

<br />
<br />

<h3>Audit trail</h3>
<p>
  <table class="table">
    <%= render partial: 'tools/audit', collection: @facture.audits.reorder(Arel.sql("audits.id DESC")) %>
  </table>
</p>