<div class="card">
    <div class="card-header">
      <h2>#<%= @facture.num_chrono %></h2>
    </div>
    <div class="card-body">
      <div class="row">

        <div class="col">
          <% if @facture.scan.previewable? %>
            <div class="shadow p-4 mb-4 bg-white">
              <%= link_to image_tag(@pdf_preview, size: "300x400"), "#", { 'data-toggle': "modal", 'data-target': "#myModal"} %>
            </div>
          <% end %>
        </div>

        <div class="col">
          <p>
            <strong>Etat:</strong>
            <span class="badge badge-pill <%= @facture.style %>"><%= @facture.etat.humanize %></span>    
          </p>

          <p>
            <strong>Anomalie:</strong>
            <%= @facture.anomalie.humanize %>
          </p>

          <p>
            <strong>Société:</strong>
            <%= @facture.société %>
          </p>

          <p>
            <strong>PAR:</strong>
            <%= @facture.par %>
          </p>

          <p>
            <strong>Montant € HT:</strong>
            <%= @facture.montantHT %>
          </p>

          <p>
            <strong>Commentaires:</strong>
            <%= @facture.commentaires %>
          </p>
          <br>

        </div>

        <div class="col-sm-5">
          <div class="card">
            <div class="card-header">
              <h4>Cibles</h4>
            </div>
            <div class="card-body">
              <table class="table table-borderless table-sm table-hover">
                <%= render @facture.cibles %>
              </table>
            </div>
          </div>

          <% if @facture.envoyée? && params[:email] %>
            <%= form_tag request.path do %>
              <div class="card">
                <div class="card-header">
                    <h4>Approbation</h4>
                </div>
                <div class="card-body">
                    <%= hidden_field_tag :email, params[:email] %>
                    
                    <strong><%= label_tag "Signataire" %></strong>
                    <%= params[:email] %>
                    <br><br>

                    <strong><%= label_tag "Commentaires" %></strong>
                    <%= text_area_tag :commentaires %>
                </div>
                <div class="card-footer">
                  <%= submit_tag "Validée", class: "btn btn-sm btn-success" %>
                  <%= submit_tag "Rejetée", class: "btn btn-sm btn-danger" %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>
</div>
<br />

<h3>Audit trail</h3>
<p>
  <table class="table table-hover">
    <%= render  partial: 'tools/audit', 
                collection: @facture
                                .own_and_associated_audits
                                .includes(:user)
                                .reorder(Arel.sql("audits.id DESC")) %>
  </table>
</p>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">#<%= @facture.num_chrono %></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= image_tag @pdf_preview %>
      </div>
    </div>
  </div>
</div>