<!DOCTYPE html>
<html>
  <head>
    <title><%= @title.concat(@version) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
      <div class="container">
        <% if current_user %>
            <ul class="navbar-nav">
              <li class="nav-item <%= (@ctrl=='factures' ? 'active' : '') %>">
                <%= link_to root_url, class: "nav-link" do %><i class="fas fa-file-invoice"></i></span> Factures<% end %>
              </li>
            </ul>
        <% end %>

        <ul class="navbar-nav navbar-right">
          <% unless current_user %>
          <% else %>
            <% if current_user.admin? %>
              <li class="nav-item <%= (@ctrl=='admin' ? 'active' : '') %>">
                <%= link_to admin_index_url, class: "nav-link" do %><i class="fas fa-users-cog"></i></span> Administration<% end %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, title: "Fermer la session de #{current_user.email}", class: "nav-link" do %><i class="fas fa-sign-out-alt"></i></span> Déconnexion<% end %> 
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <br /><br /><br />

    <div class="container">
      <% if notice.present? %>
        <aside class="alert alert-info alert-dismissible fade show">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= notice %>
        </aside>
      <% end %>

      <% if alert.present? %>
        <aside class="alert alert-danger alert-dismissible fade show">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= alert %>
        </aside>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
